.container{
  width:500px;
  display:flex;
  flex-direction: column;
}
.box{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.header{
  height: 50px;
  line-height: 50px;
  background-color: lightpink;
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}

